@import url("/assets/fonts/SeymourOne-Regular.ttf");
/* Inicio: Menu */
body {
    background-color: #c4bbb329;
}
nav {
    background-color: #c4bbb3;    
    font-family: 'Seymour One', sans-serif;
    font-size: 18px;
    height: 60px;
}
nav.menu ul {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 0px 0px;
}
nav.menu a {
    color: #000;
    text-decoration: none;
}
div.banner img {
    width: 100%;
}
@media screen and (max-width: 992px) {
    
}
/* Fim: Menu */

/* Inicio: Main */
main {
    margin-top: 5vw;
}
section .d-skills {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vw;
}
section.skills img {
    width: 445px;
    height: 245px;
}
/* Fim: Main */