@import url("/assets/fonts/SeymourOne-Regular.ttf");
/* Inicio: Menu */
body {
    background-color: #f9fafb;
}
nav {
    background-color: #000;    
    font-family: 'Seymour One', sans-serif;
    font-size: 18px;
    height: 60px;
}
nav.menu ul {
    display: flex;
    justify-content: space-around;
    padding: 20px 0px 0px 0px;
}
nav.menu a {
    color: #6b6a68;
    text-decoration: none;
}
div.banner img {
    width: 100%;
}
@media screen and (max-width: 992px) {
    
}
/* Fim: Menu */

/* Inicio: Main */
main {
    margin: 5vw 0 5vw 0;
}
section {
    margin: 5vw 0 5vw 0;
}
section .d-skills {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 18px;
}
section.skills img {
    border-radius: 100%;
    width: 300px;
}
section .d-projects {
    display: flex;
    border: 1px solid #6b6a68;
    height: 40vh;
    padding-top: 30px;
    margin: 1vw 0 1vw 0;
}
section .d-projects h2 {
    font-size: 22px;
}
section .d-projects p {
    font-size: 18px;
}
section .d-projects img {
    width: 415px;
    height: 301px;
    margin-left: -0.8vw;
    margin-top: -1.9vw;
}
section .tech {
    border: 1px solid #6b6a68;
    background-color: #6b6a68;
    border-radius: 9px;
    color: #fff;
    padding: 10px;
}
section .saiba-mais {    
    border: 2px solid #000;
    background-color: transparent;
    border-radius: 30px;
    display: grid;
    margin-top: 3vw;
    width: 200px;
    height: 50px;
}
section .saiba-mais:hover {    
    border: 2px solid #6b6a68;
    background-color: #fff;
    color: #6b6a68;
}
section .saiba-mais a {
    color: #000;
    font-weight: 450;
    padding-top: 5px;
    text-decoration: none;
}
section .saiba-mais a:hover {    
    text-decoration: none;
}
section .d-posts {
    display: flex;
    justify-content: space-evenly;
}
section .d-posts .card {
    border: 1px solid #000;
    height: 40vh;
}
section .d-posts h3 {
    font-size: 22px;
    font-weight: 500;
    padding: 10px 0px 10px 10px;
    text-align: left;
}
section .d-posts p {
    font-size: 18px;
    padding: 10px 0px 0px 10px;
    text-align: left;
}
/* Fim: Main */

/* Inicio: Footer */
footer{
    background-color: #000;
    color: #6b6a68;
    display: flex;
}
.logo img {
    padding-top: 0vw;
    height: 250px;
    width: 250px;
}
.endereco, .contato {
    padding-top: 5vw;
}
.endereco {
    text-align: left;
}
.contato ul {
    margin-bottom: 10px;
}
.contato li {
    padding-bottom: 10px;
}
.contato a {
    color: #6b6a68;
    padding-left: 5px;
    text-decoration: none;
} 
/* Fim: Footer */